<% include header %>
    <title>Login</title>
</head>
<body>
    <form action="/loginData" method="POST">
        <label>Registration No.</label>
        <input type="text" name="regNo">
        <label>Password</label>
        <input type="password" name="password">
        <button>Submit</button>
    </form>
<% include footer %>